<footer class="m-footer">
  <nav>
    <ul>
      <li><a href="#">INSTAGRAMについて</a></li>
      <li><a href="#">サポート</a></li>
      <li><a href="#">ブログ</a></li>
      <li><a href="#">プレス</a></li>
      <li><a href="#">API</a></li>
      <li><a href="#">求人</a></li>
      <li><a href="#">プライバシー</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">言語</a></li>
    </ul>
  </nav>
  <p>©instagram︎️ 2020</p>
</footer>
