<h1>Users</h1>

<% @users.each do |user| %>
  <hr>
  <div class="row d-sm-flex justify-content-between">
    <div class="col-sm-2">
      <%= image_tag avatar_url(user), class: "rounded-circle", :size =>'40x40' %>
    </div>
    <div class="col-sm-6">
      <p><span>username: </span><%=link_to user.name, user_path(user.id) %></p>
    </div>
    <!--フォロー-->
    <div class="col-sm-4">
      <% unless current_user == user %>
        <div id="follow_form", class="d-flex">
        <% @user = user %>
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
