<% if user_signed_in? %>
  <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
<% end %>

<p>このページは仮のトップページです。</p>
<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
<%= render 'devise/shared/footer' %>

 <% @posts.each do |post| %>
  <tr>
    <td><%= image_tg photo.image.to_s %></td>
  </tr>
 <% end %>