<% @posts.each do |post| %>
<div class="m-sample">
  <%= image_tag post.contain.url(:gallery) %>
	<div class="m-mask">
		<div class="m-caption">
		  <ul class="d-flex">
		    <li><%= link_to image_tag("whiteheart_icon.png"), post_path(post), remote: true %></li>
		    <li><p>1,000</p></li>		    
		    <li><%= link_to image_tag("whitecomment_icon.png"), post_path(post), remote: true %></li>
		    <li><p>100</p></li>				    
		  </ul>
		</div>
	</div>
</div>
<div id="post-modal"></div>
<% end %>