@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

// toppage
.m-container{
  margin: 100px;
}

.m-bg-image-phone{
  height: 500px;
  padding-top: 78px;
  padding-left: 80px;
  background-image:image-url("image_phone.png");
  background-size: contain;
  background-repeat: no-repeat;
}