@import "bootstrap";


body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
  list-style: none;
}

.m-footer{
  display:flex;
  justify-content:space-between;
  nav{
    width: 1500px;
  }
  ul{
    display: flex;
    justify-content:space-berween;
    li{
      display:block;
      text-align:center;
      list-style: none;
    }
  }
}

/* form */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

// toppage
.m-container{
  margin: 100px;
}

.m-bg-image-phone{
  height: 500px;
  padding-top: 78px;
  padding-left: 80px;
  background-image:image-url("image_phone.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.m-topppage-tag{
 display: flex;
 justify-content: center;
 li{
   display: block;
   margin: 3px;
 }
}

.m-toppage-right{
  max-width: 600px;
}


// signup
.m-signup-new-container{
  width:1000px;
}
.m-signup-width{
  padding-top: 100px;
}

// password new
.m-passwordnew-body{
  text-align: center;
}

//header

.m-ul-flex{
  display: flex;
  list-style: none;
}

//profilepage
.m-round-img{
  border-radius:50%;
  width: 120px;
  height: 120px;
}

.m-edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.m-setting {
  background-image: image-url("parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 18px 0 0 10px;
  background-size: 22px!important;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

//edit password
.m-profile-form-wrap {
  background: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.m-profile-form-wrap label {
  font-weight: bold;
}

.m-edit-profile-wrapper {
  margin-top: 60px;
}